# Description & Objective:

* Dataset provides hourly bike rental numbers in Washington D.C. for the years 2011 and 2012. The objective is to explore the effect that different weather and temporal factors have on the number of bikes rented.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

* Dataset Import

In [2]:
dataset = pd.read_csv("../Dataset/train.csv")
dataset.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

# Data Manipulation and Analysis

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.7+ KB

In [4]:
dataset.describe()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
count,10886.000000,10886.000000,10886.000000,10886.000000,10886.00000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000
mean,2.506614,0.028569,0.680875,1.418427,20.23086,23.655084,61.886460,12.799395,36.021955,155.552177,191.574132
std,1.116174,0.166599,0.466159,0.633839,7.79159,8.474601,19.245033,8.164537,49.960477,151.039033,181.144454
min,1.000000,0.000000,0.000000,1.000000,0.82000,0.760000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,0.000000,1.000000,13.94000,16.665000,47.000000,7.001500,4.000000,36.000000,42.000000
50%,3.000000,0.000000,1.000000,1.000000,20.50000,24.240000,62.000000,12.998000,17.000000,118.000000,145.000000
75%,4.000000,0.000000,1.000000,2.000000,26.24000,31.060000,77.000000,16.997900,49.000000,222.000000,284.000000
max,4.000000,1.000000,1.000000,4.000000,41.00000,45.455000,100.000000,56.996900,367.000000,886.000000,977.000000

## Data Wrangling

In [5]:
dataset['datetime'] = pd.to_datetime(dataset['datetime'])

dataset['datetime'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 10886 entries, 0 to 10885
Series name: datetime
Non-Null Count  Dtype
--------------  -----
10886 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 85.2 KB

* Creating new feature:

In [6]:
dataset['year'] = dataset['datetime'].dt.year
dataset['month'] = dataset['datetime'].dt.month
dataset['day_of_week'] = dataset['datetime'].dt.day_of_week
dataset['hour'] = dataset['datetime'].dt.hour

dataset.tail(10)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day_of_week,hour
10876,2012-12-19 14:00:00,4,0,1,1,17.22,21.210,50,12.9980,33,185,218,2012,12,2,14
10877,2012-12-19 15:00:00,4,0,1,1,17.22,21.210,50,19.0012,28,209,237,2012,12,2,15
10878,2012-12-19 16:00:00,4,0,1,1,17.22,21.210,50,23.9994,37,297,334,2012,12,2,16
10879,2012-12-19 17:00:00,4,0,1,1,16.40,20.455,50,26.0027,26,536,562,2012,12,2,17
10880,2012-12-19 18:00:00,4,0,1,1,15.58,19.695,50,23.9994,23,546,569,2012,12,2,18
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336,2012,12,2,19
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241,2012,12,2,20
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168,2012,12,2,21
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129,2012,12,2,22
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88,2012,12,2,23

* Converting the season column:

In [7]:
dataset['season'].value_counts()

season
4    2734
2    2733
3    2733
1    2686
Name: count, dtype: int64

In [8]:
dataset['season'] = ['spring' if x==1 else 'summer' if x==2 else 'fall' if x==3 else 'winter' for x in dataset['season']]

dataset['season'].value_counts()

season
winter    2734
summer    2733
fall      2733
spring    2686
Name: count, dtype: int64

* Converting weather column :

In [9]:
dataset['weather'].value_counts()

weather
1    7192
2    2834
3     859
4       1
Name: count, dtype: int64

In [10]:
dataset['weather'] = [
    'Clear, Few clouds, Partly cloudy' if x==1
    else 'Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds' if x==2
    else 'Light Snow, Light Rain' if x==3
    else 'Heavy Rain, Snow'
    for x in dataset['weather']]

dataset['weather'].value_counts()

weather
Clear, Few clouds, Partly cloudy                          7192
Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds    2834
Light Snow, Light Rain                                     859
Heavy Rain, Snow                                             1
Name: count, dtype: int64

* Null check

In [11]:
dataset.isna().sum()

datetime       0
season         0
holiday        0
workingday     0
weather        0
temp           0
atemp          0
humidity       0
windspeed      0
casual         0
registered     0
count          0
year           0
month          0
day_of_week    0
hour           0
dtype: int64

* Calculate the total number of casual and registered bikes rented in the years 2011 and 2012.

In [12]:
dataset[['casual', 'registered']][(dataset['year'] == 2011) | (dataset['year'] == 2012)].sum()

casual         392135
registered    1693341
dtype: int64

* Calculate the mean of the hourly total rentals count by season. Which season has the highest mean ?

In [13]:
dataset.groupby('season')[[ 'count']].mean()

             count
season
fall    234.417124
spring  116.343261
summer  215.251372
winter  198.988296

<p> It seems that fall season is the highest.. </p>

* Are more bikes rented by registered users on working or non-working days ? Does the answer differ for non-registered users ? Is the answer the same for both years ?

In [14]:
dataset.groupby(['workingday', 'year'])[['registered', 'casual']].sum()

                 registered  casual
workingday year
0          2011      167492   83099
           2012      281343  122938
1          2011      458670   72718
           2012      785836  113380

<p> For registed customers, we can say that on non-working days more bikes rented in 2011 and 2012. In contrast, for casua≈ü customers, we can not say same thing. </p>

*  Which months in the year 2011 have the highest and the lowest total number of bikes rented ? Repeat for the year 2012.

In [15]:
dataset[dataset['year'] == 2011].groupby(['month'])['count'].sum().idxmax()

7

<p> 2011 max </p>

In [16]:
dataset[dataset['year'] == 2011].groupby(['month'])['count'].sum().idxmin()

1

<p> 2011 min </p>

In [17]:
dataset[dataset['year'] == 2012].groupby(['month'])['count'].sum().idxmax()

9

<p> 2012 max</p>

In [18]:
dataset[dataset['year'] == 2012].groupby(['month'])['count'].sum().idxmin()

1

<p> 2012 min </p>

* Which type of weather have the highest and lowest mean of the hourly total rentals count ?

In [19]:
dataset.groupby('weather')[['count']].mean()

                                                         count
weather
Clear, Few clouds, Partly cloudy                    205.236791
Heavy Rain, Snow                                    164.000000
Light Snow, Light Rain                              118.846333
Mist + Cloudy, Mist + Broken clouds, Mist + Few...  178.955540

<p> Highest mean for <b>Clear, Few clouds, Partly cloudy</b> </p>

<p> Lowest mean for <b>Light Snow, Light Rain</b> </p>

* Calculate the correlation between the hourly total rentals count and all the numerical columns in the dataset. Which column has the highest correlation with the total rentals count ?

In [20]:
dataset['workingday'] = dataset['workingday'].astype('bool')

In [21]:
dataset['holiday'] = dataset['holiday'].astype('bool')

In [22]:
dataset.select_dtypes(include=['int64', 'float64']).corr()['count'].drop('count').idxmax()

'registered'

* Create a new categorical column called day_period, which can take four possible values: night, morning, afternoon and evening. These values correspond to the following binning of the hour column: 0-6: night, 6-12: morning, 12-6: afternoon, 6-24:evening.

In [25]:
dataset['hour'].value_counts().sort_values(ascending=True)

hour
3     433
4     442
2     448
5     452
1     454
0     455
6     455
7     455
8     455
9     455
10    455
11    455
12    456
15    456
16    456
17    456
18    456
19    456
20    456
21    456
22    456
13    456
14    456
23    456
Name: count, dtype: int64

In [29]:
dataset['day_period'] = [
    'night' if (x>=0 and x<=6) else
    'morning' if (x>6 and x<=12) else
    'afternoon' if (x>12 and x<=18) else
    'evening'
    for x in dataset['hour']
]

* Generate a pivot table for the mean of the hourly total rentals count, with the index set to the day period and the column set to the working day column. What can you observe from the table ?

In [37]:
pivot_table = pd.pivot_table(
    dataset,
    values=['count'],
    index=['day_period', 'workingday'],
    aggfunc='mean',
)

pivot_table

                            count
day_period workingday
afternoon  False       356.545977
           True        315.552519
evening    False       157.769655
           True        202.168489
morning    False       217.625287
           True        250.454594
night      False        40.594648
           True         28.786385

<p>
    When we look to the table, we can observe that bikes generally rent in afternoon and on non-working days. 
    On the other hand, we can also say that bikes rent at night and on working days infrequently.
</p>